<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">-->

<style>
p {
    max-height: 22px;
}
.fa {
    padding: 9px;
    font-size: 21px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
}
.icons>p{
    max-height: 20px;
}

.fa:hover {
    opacity: 0.7;
}
    .panel-custom{
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 5px 0 rgba(85,85,85,1);
    -moz-box-shadow: 0px 0px 5px 0 rgba(85,85,85,1);
    box-shadow: 0px 0px 5px 0 rgba(85,85,85,1);
}
.panel-custom .panel-heading { color: #9F032E}
.panel-custom .panel-heading h3{
    font-size: medium;
    font-weight: bolder;
    margin: 10px 10px 0 -16px;
}
.panel-custom .panel-heading h3:before{
    content: '';
    width: 15px;
    background: #9F032E;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
}
</style>
</head>
<body>
<br>
<div class="container container-fluid">
    <div class="panel panel-custom">

        <div class="panel-body">
            <div class="row">
    <div class="col-sm-7 pull-left">
      <h2 style=""><b>Hitesh Goyal</b></h2>
        <h4 style="font-family: 'Berlin Sans FB Demi'; color: cornflowerblue; font-style: italic";>Sr. Software Engineer</h4>
      <p>3 years of experience in software development and big data cloud platforms. Have
      experience in setting up & maintaining in house Spark standalone clusters suitable to requirements
      of project and size of data. Strong Experience in web development including Django/Flask.
      Always follow a discipline and dedicated approach towards problem solving.
      </p>
    </div>
    <div class="col-sm-5 pull-right icons" style="text-align: right; font-family: Verdana;">
        <p>hitesh18vg@gmail.com <i class="fa fa-inbox"></i></p>
        <p>+91-9996588220, +91-9466314233 <i class="fa fa-mobile"></i></p>
        <p>New Delhi, India <i class="fa fa-map-marker"></i></p>
        <p><a href="https://www.linkedin.com/in/hitesh-goyal-9300a76b/">linkedin.com/in/hitesh-goyal-9300a76b/ </a>
            <i class="fa fa-linkedin"></i>
        </p>
        <p><a href="https://www.github.com/hiteshgoyal18">github.com/hiteshgoyal18</a>
            <i class="fa fa-github"></i>
        </p>
        <p><a href="https://www.stackoverflow.com/users/5118701/hitttt">stackoverflow.com/users/5118701/hitttt</a>
            <i class="fa fa-stack-overflow"></i>
        </p>
    </div>
  </div>
        </div>
    </div>
</div>
<div class="container container-fluid">
    <div class="panel panel-custom">
        <div class="panel-heading">
            <h3>OBJECTIVE</h3>
        </div>
        <div class="panel-body">
            <p>To prove my credentials and worth to your esteemed organization by utilizing
            my inherent potential and qualification acquired and aspire for a professional career
            which will provide me an environment with unlimited growth opportunities.</p>
        </div>
    </div>
</div>

<div class="container container-fluid">
    <div class="panel panel-custom">
        <div class="panel-heading">
            <h3>WORK EXPERIENCE</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-9 pull-left">
                    <p style="font-size: 24px"><strong>Q3 Technologies</strong></p>
                    <p style="font-style: italic;font-size: 17px; font-family: Verdana">
                        Senior Software Engineer</p>
                    </div>
                <div class="col-sm-3 pull-right" style="text-align: right;">
                    <p style="font-size: 24px">Oct 2018 - Present</p>
                </div>
            </div>
            <p>
                <strong>WMP (Work Order Management Portal) - WWTS - </strong>
                <a href="https://wmp.wwts.com">https://wmp.wwts.com</a>
            </p>
            <p>WWTS keeps focus on delivering superior IT services, while expanding its people and systems to
                cover a global presence. WWTS Delivers onsite technical support services to the
                world's leading technology providers, outsourcers, businesses and consumers.
            </p>
            <ul>
                <li>Extensively worked on Python, Flask, jQuery.</li>
                <li>Built scalable Restful web services with Flask framework.</li>
                <li>Integrated celery for background tasks in Flask application</li>
            </ul>
            <p>
                <strong>Software Solutions - </strong>
                <a href="https://soso.wwts.com/login">https://soso.wwts.com</a>
            </p>
            <ul>
                <li>User can request for resources (Developers, BA, Architects).</li>
                <li>Built scalable Restful web services with Flask framework.</li>
                <li>Flask-rest-json API is used with MsSQL as the database.</li>
            </ul>
            <hr>
            <div class="row">
                <div class="col-sm-9 pull-left">
                    <p style="font-size: 24px"><strong>ValueCoders Services LLP</strong></p>
                    <p style="font-style: italic;font-size: 17px; font-family: Verdana">
                        Software Developer</p>
                    </div>
                <div class="col-sm-3 pull-right" style="text-align: right;">
                    <p style="font-size: 24px">Mar 2018 - Oct 2018</p>
                </div>
            </div>
            <p>
                <strong>Chatbot - Telegram Like Application</strong>
            </p>
            <ul>
                <li>A mobile Chat application (on the top of telegram) using Flask library of python and telethon library for telegram.</li>
                <li>Integrated Telethon Library of Python with the Flask Rest Services.</li>
                <li>The chatbots configured for the application are Weight Loss and Quit Smoking.</li>
                <li>Chatbot would schedule a diet plan for user based on factors like User BMI (Body Mass Index). It will help user to overcome these kind of challenges.</li>
                <li>Admin Panel is built using React as Front end and Flask (python) as backend.</li>
                <li>Telethon is open source library by which user can built a chat application on the top of Telegram.</li>
            </ul>
            <hr>
            <!-- ---------------  Simpli5d  ----------- -->
            <div class="row">
                <div class="col-sm-9 pull-left">
                    <p style="font-size: 24px"><strong>Simpli5d Technologies Pvt Ltd</strong></p>
                    <p style="font-style: italic;font-size: 17px; font-family: Verdana">
                        Software Developer</p>
                    </div>
                <div class="col-sm-3 pull-right" style="text-align: right;">
                    <p style="font-size: 24px">Jul 2016 - Feb 2018</p>
                </div>
            </div>
            <p><strong>Online Bot Detection</strong></p>
            <ul>
                <li>Extracted features describing online user behavior using Apache Spark for processing Big Data from amazon S3.</li>
                <li>Implemented Decider-Worker model of the product using workflows including Amazon EMR, Amazon SWF and Python Boto3 library.</li>
            </ul>
            <p><strong>In House Spark Cluster</strong></p>
            <ul><li>Set up an in-house Spark cluster for parallel processing with flexibility for dynamic configuration, removing dependencies on Amazon EMR while retaining full functionalities.</li></ul>

            <p><strong>Ad-Viewability Project</strong></p>
            <ul><li>Developed Spark Scripts generating key performance indicators for an online advertiser across more than 200 publishers.</li></ul>

            <p><strong>Campaign Management Project</strong></p>
            <ul><li>Worked on hugely popular libraries like react-native-autotags, react-navigation and created application for managing publisher and Ads targeting</li></ul>

        </div>
    </div>
</div>

<div class="container container-fluid">
    <div class="panel panel-custom">
        <div class="panel-heading">
            <h3>TECHNICAL SKILLS</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                   <p><strong>Python - 2.x and 3.x</strong></p>
                    <ul>
                        <li>Expertise in python Core Concepts including OOP, Data Structures.</li>
                        <li>3 years of experience in python including boto3, PySpark, pandas, sqlalchemy, requests libraries.</li>
                        <li>Deep understanding of python frameworks including <b>Flask/Django</b>.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                  <p><strong>Apache Spark</strong></p>
            <ul>
                <li>Extracting, transforming and selecting features from raw data. Aggregation of data sets using Spark Dataframes.</li>
                <li>Have experience in setting up and maintaining in house Spark Standalone clusters suitable to requirements of project and size of Data.</li>
            </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Amazon Web Services - AWS</strong></p>
                    <ul>
                        <li>Keen knowledge of AWS including Amazon SWF, S3, EMR, EC2, Lambda, Kinesis, Dynamo DB.</li>
                        <li>Implemented Amazon SWF using python boto3 library to automate job scheduling with intelligent logics</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p><strong>Other Technical Skills</strong></p>
                    <ul>
                        Keen knowledge of Java (core+advanced), MySQL, Postgresql, Android App Development (Developed and Android App to manage attendance). Have good knowledge of Javascript, jQuery, React Native also.
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container container-fluid">
    <div class="panel panel-custom">
        <div class="panel-heading">
            <h3>EDUCATION</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <p style="font-size: 18px">
                        <span class="fa fa-graduation-cap" aria-hidden="true"></span>
                        <strong> &nbsp;B.Tech in Information Technology</strong> <span>Completed with 78.3%.</span>
                        <span class="pull-right" style="font-size: 16px">Jul 2012 - Jul 2016</span></p>
                    <p class="text-muted" style="font-style: italic; margin-left:10px; font-size: 17px; font-family: Verdana">
                        Guru Jambheshwar University Of Science & Technology, Hisar</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <p style="font-size: 18px">
                        <span class="fa fa-home" aria-hidden="true"></span>
                        <strong> &nbsp;Senior Secondary</strong> <span>Completed with 80.6%</span>
                        <span class="pull-right"  style="font-size: 16px">Apr 2011 - Mar 2012</span></p>
                    <p class="text-muted" style="font-style: italic; margin-left:10px; font-size: 17px; font-family: Verdana">
                        Daffodils Public School, Fatahabad</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <p style="font-size: 18px">
                        <span class="fa fa-home" aria-hidden="true"></span>
                        <strong> &nbsp;Secondary</strong> <span>Completed with 8.2 CGPA</span>
                        <span class="pull-right" style="font-size: 16px"> Apr 2009 - Mar 2010</span></p>
                    <p class="text-muted" style="font-style: italic; margin-left:10px; font-size: 17px; font-family: Verdana">
                        Daffodils Public School, Fatahabad</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-custom">
                <div class="panel-heading">
                    <h3>STRENGTHS</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Punctuality, Good co-ordination, Leadership Qualities</li>
                        <li>Very Strong Memory in case of numbers</li>
                        <li>Always ready for emergency situation with utmost dedication</li>
                        <li>Understanding a Problem Statement and implementing a Solution</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-custom">
                <div class="panel-heading">
                    <h3>EXTRA CURRICULAR</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Active Participation in Company Cultural Events.</li>
                        <li>Volunteered in Q3's visit to NSC Delhi</li>
                        <li>Represented Q3 in Recruitment Drive to NIT Kurukshetra.</li>
                        <li>Interviewed Candidates for Python Development in company.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid">
    <div class="panel panel-custom">
        <div class="panel-heading">
            <h3>PERSONAL DETAILS</h3>
        </div>
        <div class="panel-body">
           <form>
                <div class="form-group row">
    <label class="col-sm-2 col-form-label">Father’s Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" value="Mr. Vijay Goyal">
    </div>
      <div class="col-sm-1"></div>
      <label class="col-sm-2 col-form-label">Date Of Birth</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" value="23 Feb, 1994">
    </div>
  </div>
                <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nationality</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" value="Indian">
    </div>
      <div class="col-sm-1"></div>
      <label class="col-sm-2 col-form-label">Passport</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" value="N6728712">
    </div>
  </div>
               <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Marital Status</label>
                   <div class="col-sm-3">
                    <input type="text" class="form-control" value="Unmarried">
                    </div>
                   <div class="col-sm-1"></div>
                   <label class="col-sm-2 col-form-label">Language Known</label>
                   <div class="col-sm-3">
                       <input type="text" class="form-control" value="English, Hindi, Punjabi, Haryanvi">
                   </div>
                </div>
        </form>
        </div>
    </div>
</div>

<div class="container container-fluid">
    <div class="panel panel-custom">
        <div class="panel-heading">
            <h3>DECLARATION</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <p>The information I have provided is true to the best of my knowledge and belief.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label class="col-sm-2 col-form-label">Date: </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="col-sm-5 col-form-label">Place: New Delhi</label>
                </div>
                <div class="col-sm-2 pull-right">
                    <label class="col-form-label">
                        <strong>Hitesh Goyal</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
